<app-template-a [title]="title" [subtitle]="subtitle">

  <!-- <app-tableau-light [collection]= "collection"></app-tableau-light> -->
  <app-tableau-dark *ngIf="collection$ | async as collection" [headers]="headers">
    <tr *ngFor="let item of collection">
      <td>{{ item.typePresta }}</td>
      <td>{{ item.client }}</td>
      <td>{{ item.nbJours }}</td>
      <td>{{ item.tjmHt | currency:'EUR'}}</td>
      <td>{{ item | total | currency:'EUR' }}</td>
      <td>{{ item | total:'ht' | currency:'EUR' }}</td>
      <!-- <td>{{ item.state }}</td> -->
      <!-- <td [ngClass]="{'state-cancel': 'Cancel' === item.state, 'state-option': 'Option' === item.state, 'state-confirmed': 'Confirmed' === item.state}"> -->
      <td [appState]= "item.state">
        <select (change)="changeState(item, $event)">
          <option *ngFor="let state of states" [value]="state" [selected]="state === item.state">
            {{ state }}
          </option>
        </select>
      </td>
    </tr>
  </app-tableau-dark>

</app-template-a>
