
<!-- {{ collection | json }} -->
  <table class="table">
  <thead>
    <tr>
      <th scope="col">Type</th>
      <th scope="col">Client</th>
      <th scope="col">NbJours</th>
      <th scope="col">TjmHt</th>
      <th scope="col">total Ht</th>
      <th scope="col">total  Ttc</th>
      <th scope="col">State</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of collection">
      <th>{{ item.typePresta }}</th>
      <th>{{ item.client }}</th>
      <th>{{ item.nbJours }}</th>
      <th>{{ item.tjmHt | currency:'EUR'}}</th>
      <th>{{ item | total | currency:'EUR' }}</th>
      <th>{{ item | total:'ht' | currency:'EUR' }}</th>
      <th>{{ item.state }}</th>

    </tr>
  </tbody>
</table>
